<div class="color round2">
<div class="media">
    <div class="pull-left">

        <strong>Comment by: <%= comment.user.username %><br> </strong>
        <%= image_tag comment.user.image.url(:thumb), class: "img-circle" %>

    </div>
    <div class="media-body">
        <p class="media-heading pull-right">
          <%= time_ago_in_words(comment.created_at) %>
        </p><br />
        <%= comment.body %>

    </div>
</div>

<br />
<% if can? :update, comment %>
<%= link_to "Edit Comment", edit_article_comment_path(comment.article, comment), class: "btn btn-success btn-xs round" %>
|<% end %>
<% if can? :destroy, comment %>
<%= link_to "Delete Comment", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs round" %>
<% end %>

<br />
</div>
<br />
